* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#area {
  margin-top: 10px;
  width: 400px;
  height: 400px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  margin-top: 10px;
  border-radius: 10px;
  border: 0;
  height: 25px;
  width: 120px;
  background-color: lightgray;
}

.button:hover {
  border: 2px solid blue;
}

.restart {
  display: none;
}
